<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myw"> <!-- Replace with your actual package name -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MYW"
        tools:targetApi="31">

        <!-- Success screen after submission -->
        <activity
            android:name=".SubmissionSuccessActivity"
            android:exported="false" />

        <!-- Complaint review screen -->
        <activity
            android:name=".ReviewComplaintActivity"
            android:exported="false" />

        <!-- New complaint form -->
        <activity
            android:name=".AddIssueActivity"
            android:exported="false" />

        <!-- Main dashboard screen -->
        <activity
            android:name=".Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Request details screen -->
        <activity
            android:name=".RequestDetailsActivity"
            android:exported="false" />

    </application>

</manifest>
